.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 15px;
  padding-left: 30px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.App-header img {
  width: 8em;
  height: 8em;
  border-radius: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}
.footer ul li {
  list-style: none;
}

.card {
  width: 20rem;
}
.card a {
  margin-left: 50px;
}

.cities-info {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-top: 1em;
}
.cities-info h1 {
  text-align: center;
}

.restaurant {
  background-color: black;
  padding: 1em;
  margin: 1em auto;
  width: 15%;
  color: white;
}
.restaurant ul li {
  margin-top: 10px;
}

.on {
  background-color: burlywood;
}
.off {
  background-color: none;
}

.displayOff {
  display: none;
}
.displayOn {
  display: block;
}
table {
  font-size: 0.9em;
}
